{{> company/layout/head}}

<body>
<main role="main">
    <section id="section n1">
        <aside class="side-bar">
            <div class="side-wrapper">
                <div class="side-content header">
                    <figure>
                        <img src="/images/main_logo.jpg" alt="이미지 들어가는 공간">
                    </figure>
                    <span>여어떻노</span>
                </div>
                {{#sessionUser}}
                    <div class="side-content info">
                        <p>기업이름 : {{businessName}}</p>
                        <p>접속일시 : {{#sessionUser}}{{loginTime}}{{/sessionUser}}</p>
                        <p>승인상태 : {{state}}</p>
                        <a href="/logout">로그아웃</a>
                    </div>
                {{/sessionUser}}
                <div class="side-menu">
                    <p class="head-menu active"><i class="fa-solid fa-building"></i>숙소관리</p>
                    <ul class="sub active">
                        <li class="on"><a href="/manage/stays">숙소관리</a></li>
                        <li><a href="/reservations/status">예약현황</a></li>
                        <li><a href="/revenue">매출현황</a></li>
                    </ul>
                </div>
                <div class="side-menu">
                    <p class="head-menu"><i class="fa-solid fa-user"></i>내 정보 관리</p>
                    <ul class="sub">
                        <li><a href="/company/information">정보수정</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="content-page">
            <div class="content-tab-bar">
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>예약내역</p>
                    </div>
                    <div class="tab-item company info">
                        <p class="tab-title">예약상세</p>
                        <div class="room-tab_menu">
                            {{#reservationDetail}}
                                <div class="cont_area">
                                    <span class="img-txt">호실 이미지</span>
                                    <div class="img-wrapper">
                                        <img src="{{roomImagePath}}" alt="호실 사진">
                                    </div>
                                    <div class="join-form-item">
                                        <label for="room-number">호실</label>
                                        <div class="input-wrapper">
                                            <input type="text" id="room-number" value="{{roomName}}" disabled>
                                        </div>
                                    </div>
                                    <div class="join-form-item">
                                        <label for="loging-name">예약자이름</label>
                                        <div class="input-wrapper">
                                            <input type="text" id="reservation-name" value="{{reservationName}}" disabled>
                                        </div>
                                    </div>
                                    <div class="join-form-item">
                                        <label for="loging-name">체크인</label>
                                        <div class="input-wrapper">
                                            <input type="text" id="reservation-start-date" value="{{checkInDate}} {{checkInTime}}"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="join-form-item">
                                        <label for="loging-name">체크아웃</label>
                                        <div class="input-wrapper">
                                            <input type="text" id="reservation-end-date" value="{{checkOutDate}} {{checkOutTime}}"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="join-form-item">
                                        <label for="loging-name">특가적용</label>
                                        <div class="input-wrapper">
                                            <input type="text" id="special" value="{{isDiscount}}" disabled>
                                        </div>
                                    </div>
                                    <div class="join-form-item">
                                        <label for="loging-name">결제금액</label>
                                        <div class="input-wrapper">
                                            <input type="text" id="loging-name" placeholder="가격" value="{{price}}원"
                                                   disabled
                                                   oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/\d(?=(?:\d{3})+$)/g, '$&,')" />
                                        </div>
                                    </div>
                                    <div class="button-wrapper">
                                        <button type="submit" class="btn black join"
                                                onclick="history.back()">뒤로가기</button>
                                    </div>
                                </div>
                            {{/reservationDetail}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
<script>

    const tabList = document.querySelectorAll('.room-tab_menu .list li');
    const contents = document.querySelectorAll('.room-tab_menu .cont_area .cont')
    let activeCont = ''; // 현재 활성화 된 컨텐츠 (기본:#tab1 활성화)


    // 탭메뉴
    for (var i = 0; i < tabList.length; i++) {
        tabList[i].querySelector('.btn').addEventListener('click', function (e) {
            e.preventDefault();
            for (var j = 0; j < tabList.length; j++) {
                // 나머지 버튼 클래스 제거
                tabList[j].classList.remove('is_on');

                // 나머지 컨텐츠 display:none 처리
                contents[j].style.display = 'none';
            }

            // 버튼 관련 이벤트
            this.parentNode.classList.add('is_on');

            // 버튼 클릭시 컨텐츠 전환
            activeCont = this.getAttribute('href');
            document.querySelector(activeCont).style.display = 'block';
        });
    }
</script>
</body>

</html>