{{> company/layout/head}}

<body>
<main role="main">
    <section id="section n1">
        {{> company/layout/side}}
        <div class="content-page">
            <div class="content-tab-bar">
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>리뷰관리</p>
                    </div>
                    <div class="tab-item company stay">
                        {{#review}}
                            <ul class="review-table">
                                <li>
                                    <!-- 리뷰 상세 내용 -->
                                    <div class="review-detail-head">
                                        <!-- 리뷰 제목과 신고 버튼 -->
                                        <h3>{{title}}</h3>
                                        <div class="button-wrapper">
                                            <a href="#" class="btn black">신고하기</a>
                                        </div>
                                    </div>
                                    <!-- 작성자 정보 및 리뷰 내용 -->
                                    <div class="review-user-info">
                                        <span>작성자: {{writer.name}}</span>
                                        <span>작성일자: {{createdAt}}</span>
                                        <span>누적신고횟수: {{writer.reportCount}}회</span>
                                        <span>별점: {{score}}점</span>
                                    </div>
                                    <div class="review-content">
                                        <p class="text">{{content}}</p>
                                        <!-- 부모 댓글이 있는 경우 -->
                                        {{#parentId}}
                                            {{#children}}
                                                <!-- 자식 댓글 목록 -->
                                                <div class="reply-content">
                                                    <p class="reply-icon">답글</p>
                                                    <div class="reply-user-info">
                                                        <span>작성자: {{sessionUser.businessName}}</span>
                                                        <div class="review-content-reply">{{content}}</div>
                                                    </div>
                                                    <div></div>
                                                </div>
                                            {{/children}}
                                            <!-- 답글 작성 폼 -->
                                            <form action="/review/write/{{stayId}}" method="post">
                                                <div class="reply-content">
                                                    <input type="hidden" name="parent_id" value="{{review.id}}">
                                                    <input type="hidden" name="stay_id" value="{{stayId}}">
                                                    <input type="hidden" name="score" value="0">
                                                    <p class="reply-icon">답글</p>
                                                    <div class="reply-user-info">
                                                        <span>작성자: <input type="text" name="user_id" value="{{sessionUser.businessName}}"></span>
                                                    </div>
                                                    <textarea id="newTweetContent" placeholder="답글을 적어주세요." name="content"
                                                              onkeydown="resize(this)" onkeyup="resize(this)"></textarea>
                                                    <div class="button-wrapper">
                                                        <button>답글달기</button>
                                                    </div>
                                                </div>
                                            </form>
                                        {{/parentId}}
                                        <!-- 부모 댓글이 없는 경우 -->
                                        {{^parentId}}
                                            <form action="/review/write/{{stayId}}" method="post">
                                                <div class="reply-content">
                                                    <input type="hidden" name="stay_id" value="{{stayId}}">
                                                    <input type="hidden" name="score" value="0">
                                                    <p class="reply-icon">답글</p>
                                                    <div class="reply-user-info">
                                                        <span>작성자: <input type="text" name="user_id" value="{{sessionUser.businessName}}"></span>
                                                    </div>
                                                    <textarea id="newTweetContent" placeholder="답글을 적어주세요." name="content"
                                                              onkeydown="resize(this)" onkeyup="resize(this)"></textarea>
                                                    <div class="button-wrapper">
                                                        <button>답글달기</button>
                                                    </div>
                                                </div>
                                            </form>
                                        {{/parentId}}
                                    </div>
                                    <!-- 목록 보기 버튼 -->
                                    <div class="button-wrapper">
                                        <button type="button" onclick="history.back()" class="btn black">목록보기</button>
                                    </div>
                                </li>
                            </ul>
                        {{/review}}
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
<script>

    function resize(obj) {
        obj.style.height = '1px';
        obj.style.height = (12 + obj.scrollHeight) + 'px';
    }

</script>
</body>

</html>
