{{> company/layout/head}}

<body>
<main role="main">
    <section id="section n1">
        {{> company/layout/side}}
        <div class="content-page">
            <div class="content-tab-bar">
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>리뷰관리</p>
                    </div>
                    <div class="tab-item">
                        <form action="#" method="#" style="width: 100%;">
                            <ul class="search-box">
                                <li class="search-left">
                                    <span>총 리뷰 <em>{{reviewCount}}</em>개</span>
                                </li>
                                <li class="search-right">
                                    <div>
                                        <div class="tab-input-wrapper">
                                            <input class="input-id" type="text" name="keyword" placeholder="검색어 입력">
                                            <input class="submit-btn" type="submit" value="Search">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                        <table>
                            <colgroup>
                                <col width="45%">
                                <col width="15%">
                                <col width="15%">
                                <col width="25%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">내용</th>
                                <th scope="col">작성자</th>
                                <th scope="col">평점</th>
                                <th scope="col">작성일</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#reviewList}}
                                <tr class="review">
                                    <td class="title"><span>{{content}}</span></td>
                                    <td class="content">{{writer.name}}</td>
                                    <td>{{score}}점</td>
                                    <td>{{createdAt}}</td>
                                    <td class="link">
                                        <a href="/reviews/detail/{{id}}"></a>
                                    </td>
                                </tr>
                            {{/reviewList}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    //좋아요
    function toggleLike(stayId) {
        let likeIcon = $(`#LikeIcon-${stayId}`);

        if (likeIcon.hasClass("far")) { // 좋아요

            $.ajax({
                type: "post",
                url: `/api/stay/${stayId}/likes`,
                dataType: "text"
            }).done(res=>{
                console.log(res);
                let likeCountStr = $(`#LikeCount-${stayId}`).text();
                let likeCount = Number(likeCountStr) + 1;
                $(`#LikeCount-${stayId}`).text(likeCount);

                likeIcon.addClass("fas");
                likeIcon.addClass("active");
                likeIcon.removeClass("far");
            }).fail(error=>{
                console.log("오류", error);
            });

        } else { // 좋아요취소

            $.ajax({
                type: "delete",
                url: `/api/stay/${stayId}/likes`,
                dataType: "text"
            }).done(res=>{
                console.log(res);
                let likeCountStr = $(`#LikeCount-${stayId}`).text();
                let likeCount = Number(likeCountStr) - 1;
                $(`#LikeCount-${stayId}`).text(likeCount);

                likeIcon.removeClass("fas");
                likeIcon.removeClass("active");
                likeIcon.addClass("far");
            }).fail(error=>{
                console.log("오류", error);
            });

        }
    }
</script>
</body>

</html>





