{{> company/layout/head}}

<body>
<main role="main">
    <section id="section n1">
        {{> company/layout/side}}
        <div class="content-page">
            <div class="content-tab-bar">
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>숙소 상세보기</p>
                    </div>
                    <div class="tab-item company stay">
                        {{#stayList}}
                        <p class="tab-title">{{stayName}}({{stayCategory}})</p>
                        <div class="stay-detail">
                                <div class="content top">
                                    <div class="img-wrapper">
                                        <img src="{{imagePath}}" alt="호텔 이미지">
                                    </div>
                                    <div class="text-wrapper">
                                        <p class="text-item">
                                            <span class="head"><i class="fa-solid fa-house"></i><em>숙소이름</em></span>
                                            <span class="body">{{stayName}}</span>
                                        </p>
                                        <p class="text-item">
                                                <span class="head"><i
                                                        class="fa-solid fa-location-dot"></i><em>숙소주소</em></span>
                                            <span class="body">{{stayAddress}}</span>
                                        </p>
                                        <p class="text-item">
                                                <span class="head"><i
                                                        class="fa-solid fa-layer-group"></i><em>숙소분류</em></span>
                                            <span class="body">{{stayCategory}}</span>
                                        </p>
                                    </div>
                                </div>
                        {{/stayList}}
                            <div class="content bottom">
                                <div class="room-head">
                                    <p class="sub-title">객실리스트</p>
                                    <a href="/room/register">객실추가하기</a>
                                </div>
                                <ul>
                                    <!-- <li class="unknown">
                                        <div class="item">
                                            <span>등록된 객실이 없습니다.</span>
                                        </div>
                                    </li> -->
                                    {{#detailList}}
                                        <li>
                                            <div class="item">
                                                <div class="img-wrapper">
                                                    <img src="{{roomImagePath}}" alt="객실 이미지">
                                                </div>
                                                <div class="text-wrapper">
                                                    <p class="text-item">
                                                        <span class="head"><i></i><em>객실 등급</em></span>
                                                        <span class="body">{{roomTier}}</span>
                                                    </p>
                                                    <p class="text-item">
                                                        <span class="head"><i></i><em>객실 갯수</em></span>
                                                        <span class="body">{{tierCount}}개</span>
                                                    </p>
                                                </div>
                                                <form action="/manage/stays/{{stayId}}/rooms/{{roomId}}" method="get" style="width: 100%;">
                                                    <div class="button-wrapper">
                                                        <button class="btn black">상세보기</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    {{/detailList}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>

</script>
</body>

</html>