{{> company/layout/head}}
<body>
<main role="main">
    <section id="section n1">
        <aside class="side-bar">
            <div class="side-wrapper">
                <div class="side-content header">
                    <figure>
                        <img src="/images/main_logo.jpg" alt="이미지 들어가는 공간">
                    </figure>
                    <span>여어떻노</span>
                </div>
                {{#sessionUser}}
                    <div class="side-content info">
                        <p>기업이름 : {{businessName}}</p>
                        <p>접속일시 : {{#sessionUser}}{{loginTime}}{{/sessionUser}}</p>
                        <p>승인상태 : {{state}}</p>
                        <a href="/logout">로그아웃</a>
                    </div>
                {{/sessionUser}}
                <div class="side-menu">
                    <p class="head-menu active"><i class="fa-solid fa-building"></i>숙소관리</p>
                    <ul class="sub active">
                        <li class="on"><a href="/manage/stays">숙소관리</a></li>
                        <li><a href="/reservations/status">예약현황</a></li>
                        <li><a href="/revenue">매출현황</a></li>

                    </ul>
                </div>
                <div class="side-menu">
                    <p class="head-menu"><i class="fa-solid fa-user"></i>내 정보 관리</p>
                    <ul class="sub">
                        <li><a href="/company/information">정보수정</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="content-page">
            <div class="content-tab-bar">
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>숙소관리</p>
                    </div>
                    <div class="tab-item company info">
                        <p class="tab-title">숙소등록</p>
                        <form action="/stay/register" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="companyId" value="{{sessionUser.id}}">
                            <input type="hidden" name="state" value="TRUE">
                            <div class="register-detail-wrapper">
                                <div class="content-wrapper">
                                    <div class="content top">
                                        <div class="file-box">
                                            <span>이미지등록</span>
                                            <ul class="image-preview"></ul>
                                            <input name="imgFiles" type="file" id="file" class="real-upload" accept="image/*" required multiple>

                                            <input class="upload-name" value="첨부파일" placeholder="첨부파일" disabled>
                                            <label for="file">파일찾기</label>
                                            <em class="guide">이미지는 최대 4개까지 등록가능합니다<b>*</b></em>
                                        </div>
                                    </div>
                                    <div class="content bottom">
                                        <div class="right-text">
                                            <div class="join-form-item">
                                                <label class="title" for="loging-name">숙소명</label>
                                                <div class="input-wrapper">
                                                    <input type="text" id="loging-name" placeholder="숙소명" name="name">
                                                </div>
                                            </div>
                                            <div class="join-form-item">
                                                <label class="title" for="loging-name">숙소분류</label>
                                                <div class="input-wrapper">
                                                    <select id="select" name="category" class="margin-n">
                                                        <option value="" disabled selected>숙소분류</option>
                                                        <option value="호텔" id="hotel">호텔</option>
                                                        <option value="홈&빌라" id="motel">홈&빌라</option>
                                                        <option value="게스트하우스" id="motel">게하</option>
                                                        <option value="모텔" id="motel">모텔</option>
                                                        <option value="해외" id="motel">해외</option>
                                                        <option value="펜션" id="pension">펜션</option>
                                                        <option value="캠핑" id="camping">캠핑</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="join-form-item check">
                                                <label class="title" for="loging-name">옵션분류</label>
                                                <div class="check-box-wrapper">
                                                    <div class="input-wrapper">
                                                        <label for="option1">피트니스</label>
                                                        <input type="checkbox" name="options" value="피트니스" id="option1">
                                                    </div>
                                                    <div class="input-wrapper">
                                                        <label for="option2">침대</label>
                                                        <input type="checkbox" name="options" value="침대" id="option2">
                                                    </div>
                                                    <div class="input-wrapper">
                                                        <label for="option3">와이파이</label>
                                                        <input type="checkbox" name="options" value="와이파이" id="option3">
                                                    </div>
                                                    <div class="input-wrapper">
                                                        <label for="option4">오션뷰</label>
                                                        <input type="checkbox" name="options" value="오션뷰" id="option4">
                                                    </div>
                                                    <div class="input-wrapper">
                                                        <label for="option4">미니바</label>
                                                        <input type="checkbox" name="options" value="미니바" id="option4">
                                                    </div>
                                                    <div class="input-wrapper">
                                                        <label for="option4">수영장</label>
                                                        <input type="checkbox" name="options" value="수영장" id="option4">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="join-form-item">
                                                <label class="title" for="join-password">주소</label>
                                                <div class="input-wrapper address">
                                                    <input type="text" id="sample6_postcode" placeholder="우편번호">
                                                    <input type="button" onclick="sample6_execDaumPostcode()"
                                                           value="우편번호 찾기"><br>
                                                    <input type="text" id="sample6_address" placeholder="주소" name="address"><br>
                                                    <input type="text" id="sample6_detailAddress"
                                                           placeholder="상세주소">
                                                    <input type="text" id="sample6_extraAddress" placeholder="참고항목">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="join-form-item">
                                            <label class="title" for="loging-name">숙소 소개</label>
                                            <div class="input-wrapper">
                                                <textarea name="intro" id="" cols="30" rows="10"></textarea>
                                            </div>
                                        </div>
                                        <div class="join-form-item">
                                            <label class="title" for="loging-name">숙소 이용정보</label>
                                            <div class="input-wrapper">
                                                <textarea name="information" id="" cols="30" rows="10"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button-wrapper">
                                <button class="btn black join">등록하기</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>

    // 이미지 다중 업로드
    const uploadFiles = [];

    function getImageFiles(e) {
        const files = e.currentTarget.files;
        const imagePreview = document.querySelector('.image-preview');

        if ([...files].length + uploadFiles.length > 4) { // 이미지 개수 확인
            alert('이미지는 최대 4개까지 업로드가 가능합니다.');
            return;
        }

        // 파일 타입 검사 및 이미지 미리보기
        [...files].forEach(file => {
            if (!file.type.match("image/.*")) {
                alert('이미지 파일만 업로드가 가능합니다.');
                return;
            }

            uploadFiles.push(file);
            const reader = new FileReader();
            reader.onload = (e) => {
                const preview = createElement(e.target.result, file.name);
                imagePreview.appendChild(preview);
            };
            reader.readAsDataURL(file);
        });

        // 파일 이름을 업로드 필드에 표시하고 필드를 비활성화
        const fileNames = uploadFiles.map(file => file.name).join(', ');
        const uploadName = document.querySelector('.upload-name');
        uploadName.value = fileNames;
        uploadName.disabled = true;

        const newFileList = new DataTransfer();
        uploadFiles.forEach(file => {
            newFileList.items.add(file);
        });
        e.currentTarget.files = newFileList.files;
    }

    function createElement(src, fileName) {
        const li = document.createElement('li');
        const img = document.createElement('img');
        img.src = src;
        img.setAttribute('data-file', fileName);
        li.appendChild(img);

        return li;
    }

    const realUpload = document.querySelector('.real-upload');
    const upload = document.querySelector('.upload-name');

    upload.addEventListener('click', () => realUpload.click());

    realUpload.addEventListener('change', getImageFiles);


    //주소찾기 관련 API
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if (data.userSelectedType === 'R') {
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }

</script>
</body>

</html>