{{> company/layout/head}}

<body>
<main role="main">
    <section id="section n1">
        {{> company/layout/side}}
        <div class="content-page">
            <div class="content-tab-bar">
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>매출 현황</p>
                    </div>
                    <div class="tab-item company stay">
                        <p class="tab-title">총 수익</p>
                        <div class="stay-detail">
                            <div class="content top">
                                <div class="text-wrapper company">
                                    <p class="text-item">
                                        <i class="fa-regular fa-building"></i>
                                        <span class="head">
                                            <em>기업 이름</em></span>
                                        <span class="body">{{totalIncome.companyName}}</span>
                                    </p>
                                    <p class="text-item">
                                        <i class="fa-solid fa-dollar-sign"></i>
                                        <span class="head">
                                            <em>기업 총 수익</em></span>
                                        <span class="body" id="totalIncome">{{totalIncome.totalIncome}}원</span>
                                    </p>
                                    <p class="text-item">
                                        <i class="fa-solid fa-bed"></i>
                                        <span class="head">
                                            <em>숙소 총 개수</em></span>
                                        <span class="body">{{stayCount}}개</span>
                                    </p>
                                    <p class="text-item">
                                        <i class="fa-solid fa-check"></i>
                                        <span class="head">
                                            <em>기업 전체 예약 수</em></span>
                                        <span class="body" id="number">{{totalIncome.reservationCount}}개</span>
                                    </p>
                                </div>
                            </div>
                            <div class="content bottom">
                                <div class="room-head">
                                    <p class="sub-title">숙소별 수익</p>
                                </div>
                                <ul>
                                    <!-- <li class="unknown">
                                        <div class="item">
                                            <span>등록된 객실이 없습니다.</span>
                                        </div>
                                    </li> -->
                                    {{#stayTotalIncomeList}}
                                        <li>
                                            <div class="item company">
                                                <div class="text-wrapper">
                                                    <div class="text-item">
                                                        <span class="comp-name">{{stayName}}</span>
                                                        <figure>
                                                            <img src="">
                                                        </figure>

                                                        <span class="head"><i></i><em>숙소 총 수익</em></span>
                                                        <span class="body" id="stayIncome">{{totalIncome}}원</span>
                                                    </div>
                                                    <div class="text-item">
                                                        <span class="head"><i></i><em>숙소 예약 회수</em></span>
                                                        <span class="body" id="number">{{reservationCount}}개</span>
                                                    </div>
                                                </div>
                                                <form action="/manage/stays/{{stayId}}/rooms" method="get"
                                                      style="width: 100%;">
                                                    <div class="button-wrapper">
                                                        <button class="btn black">상세보기</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    {{/stayTotalIncomeList}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    // 숫자를 쉼표로 구분된 형식으로 포맷하는 함수
    function setCommas(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    document.addEventListener("DOMContentLoaded", function () {
        // 요소를 가져와서 변수에 할당 stayIncome
        var totalIncome = document.getElementById('totalIncome');
        var stayIncome = document.getElementById('stayIncome');

        // 요소의 텍스트 콘텐츠를 가져와서 숫자로 변환
        var totalIncomeValue = totalIncome.textContent;
        var stayIncomeValue = stayIncome.textContent;

        // 숫자를 쉼표로 구분된 형식으로 포맷
        var formatTotalIncome = setCommas(parseInt(totalIncomeValue));
        var stayIncomeIncome = setCommas(parseInt(stayIncomeValue));

        // 포맷된 값을 totalIncome 요소에 다시 설정하여 화면에 표시
        totalIncome.textContent = formatTotalIncome + ' 원';
        stayIncome.textContent = stayIncomeIncome + ' 원';
    });
</script>
</body>

</html>