{{> company/layout/head}}
<body>
<main role="main">
    <header class="comp-header">
        <div class="logo-wrapper">
            <img src="/image/main_logo.jpg" alt="기업로고">
        </div>
        <div class="right-content">
            <span>회원가입</span>
        </div>
    </header>
    <div class="join-wrapper">
        <div class="join-content">
            <p class="title">비즈니스 회원가입</p>
            <div class="join-form-wrapper">
                <form id="emailForm" method="post" action="ProcessEmailServlet">
                    <div class="join-form-item">
                        <label for="emailId">이메일</label>
                        <div class="input-wrapper email">
                            <input type="text" id="emailId" name="emailId" value="" placeholder="이메일 입력">
                            <span>@</span>
                            <input id="textEmail" name="textEmail" placeholder="이메일을 선택하세요.">
                            <select id="select" name="select">
                                <option value="" disabled selected>E-Mail 선택</option>
                                <option value="naver.com" id="naver.com">naver.com</option>
                                <option value="hanmail.net" id="hanmail.net">hanmail.net</option>
                                <option value="gmail.com" id="gmail.com">gmail.com</option>
                                <option value="nate.com" id="nate.com">nate.com</option>
                                <option value="directly" id="directly">직접 입력하기</option>
                            </select>
                            <button id="checkDuplicateBtn" type="button">중복 확인</button>
                        </div>
                    </div>
                    <div class="join-form-item">
                        <label for="join-password">비밀번호</label>
                        <div class="input-wrapper password">
                            <input type="password" id="join-password" oninput="pwCheck()" placeholder="비밀번호">
                        </div>
                    </div>
                    <div class="join-form-item">
                        <label for="join-password2">비밀번호 확인</label>
                        <div class="input-wrapper password">
                            <input type="password" id="join-password2" oninput="pwCheck()" placeholder="비밀번호 확인">
                            <span  class="password-content"></span>
                        </div>
                    </div>
                    <div class="join-form-item">
                        <label for="join-password">전화번호</label>
                        <div class="input-wrapper phone">
                            <input type="text" id="phoneNumber" oninput="hypenTel(this)" maxlength="13">
                        </div>
                    </div>
                    <div class="join-form-item">
                        <label for="join-password">사업자 등록번호</label>
                        <div class="input-wrapper business-number">
                            <input type="text" id="businessNumber" oninput="hypenTel2(this)" maxlength="12">
                        </div>
                    </div>
                    <div class="join-form-item">
                        <label for="join-password">주소찾기</label>
                        <div class="input-wrapper address">
                            <input type="text" id="sample6_postcode" placeholder="우편번호">
                            <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                            <input type="text" id="sample6_address" placeholder="주소"><br>
                            <input type="text" id="sample6_detailAddress" placeholder="상세주소">
                            <input type="text" id="sample6_extraAddress" placeholder="참고항목">
                        </div>
                    </div>
                    <div class="button-wrapper">
                        <button type="submit" class="btn black join">제출하기</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>
</body>
<script>
    //주소찾기 관련 API
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }

    //사업자등록번호
    const hypenTel2 = (target) => {
        target.value = target.value
                .replace(/[^0-9]/g, '')
                .replace(/^(\d{3})(\d{2})(\d{5})$/, `$1-$2-$3`);
    }

    //전화번호
    const hypenTel = (target) => {
        target.value = target.value
                .replace(/[^0-9]/g, '')
                .replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
    }

    //비밀번호
    const pwd1 = document.querySelector('#join-password');
    const pwd2 = document.querySelector('#join-password2');
    const p2 = document.querySelector('.password-content');


    p2.style.display = 'none';

    pwd1.addEventListener('keyup', () => {
        const password1 = pwd1.value;
        const password2 = pwd2.value;

        if (password1 !== password2) {
            p2.style.color = 'red';
            p2.textContent = `비밀번호가 일치하지 않습니다`;
            p2.style.display = 'block';
        } else {
            p2.style.color = 'green';
            p2.textContent = `비밀번호가 일치합니다`;
            p2.style.display = 'block';
        }
    });

    pwd2.addEventListener('keyup', () => {
        const password1 = pwd1.value;
        const password2 = pwd2.value;

        if (password1 !== password2) {
            p2.style.color = 'red';
            p2.textContent = `비밀번호가 일치하지 않습니다`;
            p2.style.display = 'block';
        } else {
            p2.style.color = 'green';
            p2.textContent = `비밀번호가 일치합니다`;
            p2.style.display = 'block';
        }
    });


    // 이메일 도메인입력방식
    $(function() {
        $('#select').change(function() {
            var selectedOption = $('#select').val();
            if (selectedOption == 'directly') {
                $('#textEmail').attr("disabled", false);
                $('#textEmail').val("");
                $('#textEmail').focus();
            } else {
                $('#textEmail').attr("disabled", true);
                $('#textEmail').val(selectedOption);
            }
        });
    });

    // 이메일 중복확인
    $(function() {
        $('#checkDuplicateBtn').click(function() {
            alert("사용가능한 이메일입니다.");
            var email = $('#emailId').val();
            var domain = $('#textEmail').val();
            if (domain == 'directly') {
                domain = $('#select').val();
                email += '@' + domain;
            }
            // 이메일 중복 확인 AJAX 요청
            $.ajax({
                type: 'POST',
                url: 'ProcessEmailServlet',
                data: {email: email},
                success: function(response) {
                    if (response.trim() === 'duplicate') {
                        // 중복인 경우 처리
                        alert('중복된 이메일입니다.');
                    } else {
                        // 중복이 아닌 경우
                        alert('중복되지 않은 이메일입니다.');
                    }
                },
                error: function(xhr, status, error) {
                    // 에러 처리
                    alert('오류가 발생했습니다.');
                }
            });
        });
    });

    // 회원가입 폼 제출 함수
    function submitForm() {
        // 필수 입력값 가져오기
        var email = $('#emailId').val().trim();
        var password = $('#join-password').val().trim();
        var passwordConfirm = $('#join-password2').val().trim();
        var phoneNumber = $('#phoneNumber').val().trim();
        var businessNumber = $('#businessNumber').val().trim();
        var address = $('#sample6_postcode').val().trim();
        // 이메일, 비밀번호, 비밀번호 확인, 전화번호, 사업자 등록번호, 주소가 비어 있는지 확인
        if (email === '') {
            alert('이메일을 입력하세요.');
            $('#emailId').focus();
            return false;
        }

        if (password === '') {
            alert('비밀번호를 입력하세요.');
            $('#join-password').focus();
            return false;
        }

        if (passwordConfirm === '') {
            alert('비밀번호 확인을 입력하세요.');
            $('#join-password2').focus();
            return false;
        }

        if (phoneNumber === '') {
            alert('전화번호를 입력하세요.');
            $('#phoneNumber').focus();
            return false;
        }

        if (businessNumber === '') {
            alert('사업자 등록번호를 입력하세요.');
            $('#businessNumber').focus();
            return false;
        }
        if (address === ''){
            alert('주소를 입력하세요');
            $('##sample6_postcode').focus();
            return false;
        }
        // 폼이 유효한 경우 서버로 제출
        $('#emailForm').submit();
    }

    // 폼 제출 방지 및 폼 제출 함수 호출
    $(function() {
        $('#emailForm').submit(function(e) {
            e.preventDefault();
            submitForm();
        });
    });

</script>
</html>
