{{> company/layout/head}}

<body>
<main role="main">
    <div class="login-form">
        <form action="/company/login" method="post">
            <div class="form-wrapper">
                <figure>
                    <img src="/images/main_logo.jpg" alt="로고이미지">
                </figure>
                <p class="login-title">비즈니스 회원 로그인</p>
                <div class="input-wrapper">
                    <label for="admin-id">아이디</label>
                    <input type="text" id="admin-id" class="input" name="email">
                </div>
                <div class="input-wrapper">
                    <label for="admin-password">비밀번호</label>
                    <input type="password" id="admin-password" name="password">
                </div>
                <button class="btn black">로그인</button>
                <div class="login-bottom">
                    <p>계정이 없으신가요?</p>
                    <a href="/company/join-form">비즈니스 회원가입</a>
                </div>
            </div>
        </form>
    </div>
</main>
<script>

</script>
</body>

</html>