
<aside class="side-bar">
    <div class="side-content header">
        <figure>
            <img src="/image/main_logo.jpg" alt="이미지 들어가는 공간">
        </figure>
        <span>여어떻노</span>
    </div>
    <div class="side-content info">
        <p>관리자 : 김지훈</p>
        <p>접속일시: 2024.04.05</p>
        <a href="/login">로그아웃</a>
    </div>

    <div class="side-menu">
        <p class="head-menu"><i class="fa-solid fa-building"></i></i>기업</p>
        <ul class="sub">
            <li><a href="/company/join">가입현황</a></li>
            <li><a href="/company/report">리뷰신고</a></li>
            <li><a href="/company/question">문의사항</a></li>
            <li><a href="/company/faq">자주묻는 질문</a></li>
        </ul>
    </div>
    <div class="side-menu">
        <p class="head-menu"><i class="fa-solid fa-user"></i>유저</p>
        <ul class="sub">
            <li><a href="/user/join">가입현황</a></li>
            <li><a href="/user/report">리뷰신고</a></li>
            <li><a href="/user/question">문의사항</a></li>
            <li><a href="/user/faq">자주묻는 질문</a></li>
        </ul>
    </div>

</aside>
