{{> company/layout/head}}
<body>
    <main>
        <div class="err-wrapper">
            <div class="err-icon"><i class="fa-solid fa-circle-exclamation"></i></div>
            <p>Error : 401</p>
            <span>로그인이 필요한 서비스입니다. 계속하려면 로그인해 주세요.</span>
            <div class="button-wrapper">
                <button type="button" onclick="history.back()" class="btn black border">뒤로가기</button>
            </div>
        </div>
    </main>
</body>
</html>