{{> admin/layout/head}}

<body>
<main role="main">
    <section id="section n1">
        <aside class="side-bar">
            <div class="side-wrapper">
                <div class="side-content header">
                    <figure>
                        <img src="/images/main_logo.jpg" alt="이미지 들어가는 공간">
                    </figure>
                    <span>여어떻노</span>
                </div>
                {{#sessionUser}}
                    <div class="side-content info">
                        <p>관리자 : {{name}}</p>
                        <p>접속일시: {{#sessionUser}}{{loginTime}}{{/sessionUser}}</p>
                        <a href="/logout">로그아웃</a>
                    </div>
                {{/sessionUser}}
                <div class="side-menu">
                    <p class="head-menu"><i class="fa-solid fa-building"></i>  기업</p>
                    <ul class="sub">
                        <li><a href="/admin/companies">가입현황</a></li>
                        <li><a href="/admin/company/question">문의사항</a></li>
                        <li><a href="/customer-c/faq">자주묻는 질문</a></li>
                    </ul>
                </div>
                <div class="side-menu">
                    <p class="head-menu"><i class="fa-solid fa-user"></i>  유저</p>
                    <ul class="sub">
                        <li><a href="/admin/users">가입현황</a></li>
                        <li><a href="/customer-u/question">문의사항</a></li>
                        <li><a href="/customer-u/faq">자주묻는 질문</a></li>
                    </ul>
                </div>
                <div class="side-menu">
                    <p class="head-menu"><i class="fa-solid fa-marker"></i> 리뷰</p>
                    <ul class="sub">
                        <li><a href="/admin/reports">신고 목록</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="content-page">
            <div class="content-tab-bar">
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>신고 상세보기</p>
                    </div>
                    <div class="tab-item company stay">
                        {{#reportDetail}}
                            <ul class="review-table">
                                <li>
                                    <div class="review-detail-head">
                                        <h3>{{review.name}}</h3>
                                        <div class="review-content">
                                            <p class="reply-icon">신고 사유</p>
                                            <div class="review-user-info">
                                                <span>작성자 : {{reporter.name}}</span>
                                                <span>작성일자 : {{reportedAt}}</span>
                                                <span>누적신고횟수 : {{reporter.reportCount}}회</span>
                                            </div>
                                            <p class="text">{{reportContent}}</p>
                                        </div>
                                    </div>
                                    <div class="report-header">
                                        <h3>신고한 리뷰</h3>
                                    </div>
                                    <p class="reply-icon black">댓글</p>
                                    <div class="review-user-info">
                                        <span>작성자 : {{review.writer.name}}</span>
                                        <span>작성일자 : {{review.createdAt}}</span>
                                        <span>누적신고횟수 : {{review.writer.reportCount}}회</span>
                                        <span>별점 : {{review.score}}점</span>
                                    </div>
                                    <div class="review-content">
                                        <p class="text">{{review.content}}</p>
                                        {{#review.children}}
                                            <div class="reply-content">
                                                <p class="reply-icon">답글</p>
                                                <div class="reply-user-info">
                                                    <span>작성자 : {{writer.name}}</span>
                                                    <div class="review-content-reply">{{content}}</div>
                                                </div>
                                                <div></div>
                                            </div>
                                        {{/review.children}}
                                    </div>
                                    <div class="buttons">
                                        <div class="button-wrapper">
                                            <a class="btn refuse" href="/admin/reports">부적합</a>
                                        </div>
                                        <div class="button-wrapper">
                                            <a class="btn black" href="/admin/reports">목록보기</a>
                                        </div>
                                        <div class="button-wrapper">
                                            <a class="btn approval" href="/admin/reports">적합</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        {{/reportDetail}}
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
<script>

    function resize(obj) {
        obj.style.height = '1px';
        obj.style.height = (12 + obj.scrollHeight) + 'px';
    }

</script>
</body>

</html>