{{> admin/layout/head}}

<body>
<main role="main">
    <section id="section n1">
        <aside class="side-bar">
            <div class="side-wrapper">
                <div class="side-content header">
                    <figure>
                        <img src="/images/main_logo.jpg" alt="이미지 들어가는 공간">
                    </figure>
                    <span>여어떻노</span>
                </div>
                {{#sessionUser}}
                    <div class="side-content info">
                        <p>관리자 : {{name}}</p>
                        <p>접속일시: {{#sessionUser}}{{loginTime}}{{/sessionUser}}</p>
                        <a href="/logout">로그아웃</a>
                    </div>
                {{/sessionUser}}
                <div class="side-menu">
                    <p class="head-menu"><i class="fa-solid fa-building"></i>  기업</p>
                    <ul class="sub">
                        <li><a href="/admin/companies">가입현황</a></li>
                        <li><a href="/admin/company/question">문의사항</a></li>
                        <li><a href="/customer-c/faq">자주묻는 질문</a></li>
                    </ul>
                </div>
                <div class="side-menu">
                    <p class="head-menu"><i class="fa-solid fa-user"></i>  유저</p>
                    <ul class="sub">
                        <li><a href="/admin/users">가입현황</a></li>
                        <li><a href="/customer-u/question">문의사항</a></li>
                        <li><a href="/customer-u/faq">자주묻는 질문</a></li>
                    </ul>
                </div>
                <div class="side-menu">
                    <p class="head-menu"><i class="fa-solid fa-marker"></i> 리뷰</p>
                    <ul class="sub">
                        <li><a href="/admin/reports">신고 목록</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="content-page">
            <div class="content-tab-bar">
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>신고 받은 리뷰 상세보기</p>
                    </div>
                    <div class="tab-item company stay">
                        {{#reportDetail}}
                        <ul class="review-table">
                            <li>
                                <p class="reply-icon black">리뷰</p>
                                <div class="review-user-info">
                                    <span>작성자 : {{reviewUserName}}</span>
                                    <span>작성일자 : {{reviewCreatedAt}}</span>
                                    <span>누적신고횟수 : {{reportCount}}회</span>
                                    <span>별점 : {{score}}점</span>
                                </div>
                                <div class="review-content">
                                    <p class="text">{{reviewContent}}</p>
                                    {{#children}}
                                        <div class="reply-content">
                                            <p class="reply-icon">답변</p>
                                            <div class="reply-user-info">
                                                <span>작성자 : </span>
                                                <div class="review-content-reply">{{content}}</div>
                                            </div>
                                            <div></div>
                                        </div>
                                    {{/children}}
                                </div>
                                <div class="button-wrapper">
                                    <a class="btn black" onclick="window.history.back()">뒤로가기</a>
                                </div>
                            </li>
                        </ul>
                        {{/reportDetail}}
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
<script>

    function resize(obj) {
        obj.style.height = '1px';
        obj.style.height = (12 + obj.scrollHeight) + 'px';
    }

</script>
</body>

</html>