{{> admin/layout/head}}

<body>
<main role="main">
    <section id="section n1">
        <aside class="side-bar">
            <div class="side-wrapper">
                <div class="side-content header">
                    <figure>
                        <img src="/images/main_logo.jpg" alt="이미지 들어가는 공간">
                    </figure>
                    <span>여어떻노</span>
                </div>
                {{#sessionUser}}
                    <div class="side-content info">
                        <p>관리자 : {{name}}</p>
                        <p>접속일시: {{#sessionUser}}{{loginTime}}{{/sessionUser}}</p>
                        <a href="/logout">로그아웃</a>
                    </div>
                {{/sessionUser}}
                <div class="side-menu">
                    <p class="head-menu"><i class="fa-solid fa-building"></i>  기업</p>
                    <ul class="sub">
                        <li><a href="/admin/companies">가입현황</a></li>
                        <li><a href="/admin/company/question">문의사항</a></li>
                        <li><a href="/customer-c/faq">자주묻는 질문</a></li>
                    </ul>
                </div>
                <div class="side-menu">
                    <p class="head-menu"><i class="fa-solid fa-user"></i>  유저</p>
                    <ul class="sub">
                        <li><a href="/admin/users">가입현황</a></li>
                        <li><a href="/customer-u/question">문의사항</a></li>
                        <li><a href="/customer-u/faq">자주묻는 질문</a></li>
                    </ul>
                </div>
                <div class="side-menu">
                    <p class="head-menu"><i class="fa-solid fa-marker"></i> 리뷰</p>
                    <ul class="sub">
                        <li><a href="/admin/reports">신고 목록</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="content-page">
            <div class="content-tab-bar">
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>신고 관리</p>
                    </div>
                    <div class="tab-item">
                        <form action="#" method="#" style="width: 100%;">
                            <ul class="search-box">
                                <li class="search-left">
                                    <span>총 리뷰 <em>{{reportCount}}</em>개</span>
                                </li>
                                <li class="search-right">
                                    <div>
                                        <div class="tab-input-wrapper">
                                            <input class="input-id" type="text" name="keyword" placeholder="검색어 입력">
                                            <input class="submit-btn" type="submit" value="Search">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                        <table>
                            <colgroup>
                                <col width="5%">
                                <col width="15%">
                                <col width="25%">
                                <col width="20%">
                                <col width="10%">
                                <col width="15%">
                                <col width="10%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">신고 번호</th>
                                <th scope="col">숙소</th>
                                <th scope="col">신고받은 리뷰</th>
                                <th scope="col">신고 사유</th>
                                <th scope="col">신고한 회원</th>
                                <th scope="col">작성일</th>
                                <th scope="col">현황</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#reportList}}
                                <tr class="review">
                                    <td class="content"><span>{{reportId}}</span></td>
                                    <td class="content"><span>{{stayName}}</span></td>
                                    <td class="content">{{reviewContent}}</td>
                                    <td class="content">{{reportContent}}</td>
                                    <td class="content">{{userEmail}}</td>
                                    <td class="content">{{reportedAt}}</td>
                                    <td class="content">{{result}}</td>
                                    <td class="link">
                                        <a href="/admin/reports/{{reportId}}"></a>
                                    </td>
                                </tr>
                            {{/reportList}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>

</script>
</body>

</html>





