{{> admin/layout/head}}
<body>
<main role="main">
    <section id="section n1">
        <aside class="side-bar">
            <div class="side-content header">
                <figure>
                    <img src="/images/main_logo.jpg" alt="이미지 들어가는 공간">
                </figure>
                <span>여어떻노</span>
            </div>
            {{#sessionUser}}
                <div class="side-content info">
                    <p>관리자 : {{name}}</p>
                    <p>접속일시: {{#sessionUser}}{{loginTime}}{{/sessionUser}}</p>
                    <a href="/logout">로그아웃</a>
                </div>
            {{/sessionUser}}
            <div class="side-menu">
                <p class="head-menu active"><i class="fa-solid fa-building"></i></i>기업</p>
                <ul class="sub active">
                    <li><a href="/admin/companies">가입현황</a></li>
                    <li><a href="/customer-c/report">리뷰신고</a></li>
                    <li class="on"><a href="/admin/company/question">문의사항</a></li>
                    <li><a href="/customer-c/faq">자주묻는 질문</a></li>
                </ul>
            </div>
            <div class="side-menu">
                <p class="head-menu"><i class="fa-solid fa-user"></i>유저</p>
                <ul class="sub">
                    <li><a href="/admin/users">가입현황</a></li>
                    <li><a href="/admin/join">리뷰신고</a></li>
                    <li><a href="/customer-u/question">문의사항</a></li>
                    <li><a href="/customer-u/faq">자주묻는 질문</a></li>
                </ul>
            </div>
        </aside>
        <div class="content-page">
            <div class="content-tab-bar">
                <ul class="tab-nav">
                    <li class="tab-link" ><a href="/company/join">가입현황</a></li>
                    <li class="tab-link"><a href="/company/report">리뷰신고</a></li>
                    <li class="tab-link current"><a href="/company/question">문의사항</a></li>
                    <li class="tab-link"><a href="/company/faq">자주묻는 질문</a></li>
                </ul>
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>문의사항</p>
                    </div>
                    <div class="tab-item detail">
                        <div class="review-detail-wrapper">
                            {{#questionDetail}}
                            <form action="/admin/answer/company" method="post">
                                <input type="hidden" name="id" value="{{questionId}}">
                                <div class="detail-head">
                                    <div><p class="title">{{title}}</p><span>{{createdAt}}</span></div>
                                </div>
                                <div class="detail-content">
                                    <span class="review-title">문의내용</span>
                                    <p class="review-content">
                                        <b>{{content}}</b>
                                        <br>
                                        <em>작성자 : {{businessName}}</em>
                                    </p>

                                    <span class="review-title">답변내용</span>
                                    {{#answer}}
                                         <div class="review-content">
                                             <p>{{answer}}</p>
                                         </div>
                                        <div class="report-button-wrapper">
                                            <button class ="btn black" type="button" onclick="history.back()">뒤로가기</button>
                                        </div>
                                    {{/answer}}
                                    {{^answer}}
                                        <div class="review-content">
                                            <textarea name="answer" id="" cols="30" rows="10"></textarea>
                                        </div>
                                        <div class="report-button-wrapper">
                                            <button class ="btn black">답변완료</button>
                                        </div>
                                    {{/answer}}


                                </div>

                            </form>
                            {{/questionDetail}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>
<script>

</script>
</body>

</html>