{{> admin/layout/head}}

<body>
<main role="main">
    <section id="section n1">
        {{> admin/layout/side}}
        <div class="content-page">
            <div class="content-tab-bar">
                <ul class="tab-nav">
                    <li class="tab-link"><a href="/user/join">가입현황</a></li>
                    <li class="tab-link"><a href="/user/report">리뷰신고</a></li>
                    <li class="tab-link current"><a href="/user/question">문의사항</a></li>
                    <li class="tab-link"><a href="/user/faq">자주묻는 질문</a></li>
                </ul>
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>문의사항</p>
                    </div>
                    <div class="tab-item">
                        <form action="#" method="#" style="width: 100%;">
                            <ul class="search-box">
                                <li class="search-left">
                                    <span>총 문의사항 <em>{{listCount}}</em>개</span>
                                </li>
                                <li class="search-right">
                                    <div class=" duration">
                                        <label for="daterange">기간</label>
                                        <input type="text" name="daterange" value="" id="daterange" />
                                    </div>
                                    <div>
                                        <label for="comp-state">문의상태</label>
                                        <select name="state" id="inquiry">
                                            <option value="">전체</option>
                                            <option value="승인">승인</option>
                                            <option value="거절">거절</option>
                                            <option value="대기중">대기중</option>
                                        </select>
                                    </div>
                                    <div>
                                        <div class="tab-input-wrapper">
                                            <input class="input-id" type="text" name="keyword" placeholder="검색어 입력">
                                            <input class="submit-btn" type="submit" value="Search">
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </form>
                        <table>
                            <colgroup>
                                <col width="40%">
                                <col width="25%">
                                <col width="25%">
                                <col width="10%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">문의제목</th>
                                <th scope="col">등록상호명</th>
                                <th scope="col">등록일</th>
                                <th scope="col">상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#questionList}}
                            <tr class="review">
                                <td class="title">{{title}}</td>
                                <td class="content">{{businessName}}</td>
                                <td>{{createdAt}}</td>
                                <td>
                                    {{#state}}<span class="state {{stateColor}}">{{stateText}}</span>{{/state}}
                                </td>
                                <td class="link">
                                    <a href="/admin/company-question/detail/{{questionId}}"></a>
                                </td>
                            </tr>
                            {{/questionList}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    $(function (){
        {{#selected}}
            $("#inquiry").find('option[value="{{state}}"]').attr("selected",true);
        {{/selected}}
    });

    function getUrlWithSearchOption(){
        const inquiry = $('#inquiry').val();

        return `http://localhost:8080/company/question?inquiry=${inquiry}`;
    }

    // 옵션 선택 시 URL 변경
    document.getElementById("inquiry").addEventListener("change", function () {
        var selectedArea = this.options[this.selectedIndex].value;

        window.location.href = getUrlWithSearchOption();
    });

</script>
</body>

</html>