{{> admin/layout/head}}
<body>
<main role="main">
    <section id="section n1">
        {{> admin/layout/side}}
        <div class="content-page">
            <div class="content-tab-bar">
                <ul class="tab-nav">
                    <li class="tab-link"><a href="/company/join">가입현황</a></li>
                    <li class="tab-link"><a href="/company/report">리뷰신고</a></li>
                    <li class="tab-link"><a href="/company/question">문의사항</a></li>
                    <li class="tab-link current"><a href="/company/faq">자주묻는 질문</a></li>
                </ul>
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>자주묻는 질문</p>
                    </div>
                    <div class="tab-item detail">
                        <div class="review-detail-wrapper">
                            <form action="#" method="#">
                                <div class="detail-head">
                                    <div>
                                        <p class="title">특가설정 어떻게 하는지 궁금해요!!</p><span>2024.04.21 15:41:21</span>
                                    </div>
                                </div>
                                <div class="detail-content">
                                    <span class="review-title">FAQ 답변</span>
                                    <p class="review-content">
                                        <b>특가설정은 마이페이지 > 특가설정 > 이동 후 수정 하실 수 있습니다.</b>
                                        <br>
                                        <em>작성자 : ssar</em>
                                    </p>
                                    <!-- <span class="review-title">답변 내용</span> -->
                                    <!-- <input type="text"> -->
                                </div>
                                <div class="report-button-wrapper">
                                    <button class="btn black" type="button" onclick="history.back()">뒤로</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>