{{> admin/layout/head}}
<body>
<main role="main">
    <section id="section n1">
        {{> admin/layout/side}}
        <div class="content-page">
            <div class="content-tab-bar">
                <ul class="tab-nav">
                    <li class="tab-link current"><a href="/company/join">가입현황</a></li>
                    <li class="tab-link "><a href="/company/report">리뷰신고</a></li>
                    <li class="tab-link"><a href="/company/question">문의사항</a></li>
                    <li class="tab-link"><a href="/company/faq">자주묻는 질문</a></li>
                </ul>
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>가입현황</p>
                    </div>
                    <div class="tab-item">
                        <form action="/admin/users" method="get" style="width: 100%;">
                            <ul class="search-box">
                                <li class="search-left">
                                    <span>총 회원<em> {{userCount}}</em>명</span>
                                </li>
                                <li class="search-right">
                                    <div>
                                        <div class="tab-input-wrapper">
                                            <input class="input-id" type="text" name="keyword" placeholder="검색어 입력">
                                            <input class="submit-btn" type="submit" value="Search">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                        <table>
                            <colgroup>
                                <col width="25%">
                                <col width="20%">
                                <col width="20%">
                                <col width="20%">
                                <col width="15%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">회원명</th>
                                <th scope="col">이메일</th>
                                <th scope="col">신고 받은 횟수</th>
                                <th scope="col">상태</th>
                                <th scope="col">상세보기</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#userList}}
                                <tr>
                                    <td class="title">{{name}}</td>
                                    <td>{{email}}</td>
                                    <td>{{reportCount}}</td>
                                    <td><span class="state {{stateColor}}">{{stateMessage}}</span></td>
                                    <td><span class="detail" onclick="location.href='/admin/users/{{userId}}'">상세보기</span></td>
                                </tr>
                            {{/userList}}
                            {{#keywordList}}
                                <tr>
                                    <td class="title">{{name}}</td>
                                    <td>{{email}}</td>
                                    <td>{{reportCount}}</td>
                                    <td><span class="state {{stateColor}}">{{stateMessage}}</span></td>
                                    <td><span class="detail" onclick="location.href='/admin/users/{{userId}}'">상세보기</span></td>
                                </tr>
                            {{/keywordList}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>

</html>