{{> admin/layout/head}}
<body>
<main role="main">
    <section id="section n1">
        {{> admin/layout/side}}
        <div class="content-page">
            <div class="content-tab-bar">
                <ul class="tab-nav">
                    <li class="tab-link current"><a href="/company/join">가입현황</a></li>
                    <li class="tab-link "><a href="/company/report">리뷰신고</a></li>
                    <li class="tab-link"><a href="/company/question">문의사항</a></li>
                    <li class="tab-link"><a href="/company/faq">자주묻는 질문</a></li>
                </ul>
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>가입현황</p>
                    </div>
                    <div class="tab-item">
                        <form action="#" method="#" style="width: 100%;">
                            <ul class="search-box">
                                <li class="search-left">
                                    <span>총 대기 및 등록업체<em> 20 </em>개</span>
                                </li>
                                <li class="search-right">
                                    <div>
                                        <label for="comp-state">문의상태</label>
                                        <select name="state" id="comp-state">
                                            <option value="">전체</option>
                                            <option value="승인">승인</option>
                                            <option value="거절">거절</option>
                                            <option value="대기중">대기중</option>
                                        </select>
                                    </div>
                                    <div>
                                        <div class="tab-input-wrapper">
                                            <input class="input-id" type="text" name="keyword" placeholder="검색어 입력">
                                            <input class="submit-btn" type="submit" value="Search">
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </form>
                        <table>
                            <colgroup>
                                <col width="25%">
                                <col width="20%">
                                <col width="20%">
                                <col width="20%">
                                <col width="15%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">기업명</th>
                                <th scope="col">전화번호</th>
                                <th scope="col">대표이름</th>
                                <th scope="col">상태</th>
                                <th scope="col">상세보기</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="title">Agoda Company Pte</td>
                                <td>186665658207</td>
                                <td>Omri Mogenstem</td>
                                <td><span class="state wait">대기중</span></td>
                                <td><span class="detail">상세보기</span></td>
                            </tr>
                            <tr>
                                <td class="title">Agoda Company Pte</td>
                                <td>186665658207</td>
                                <td>Omri Mogenstem</td>
                                <td><span class="state refuse">거절</span></td>
                                <td><span class="detail">상세보기</span></td>
                            </tr>
                            <tr>
                                <td class="title">Agoda Company Pte</td>
                                <td>186665658207</td>
                                <td>Omri Mogenstem</td>
                                <td><span class="state approval">승인</span></td>
                                <td><span class="detail">상세보기</span></td>
                            </tr>
                            <tr>
                                <td class="title">Agoda Company Pte</td>
                                <td>186665658207</td>
                                <td>Omri Mogenstem</td>
                                <td><span class="state wait">대기중</span></td>
                                <td><span class="detail">상세보기</span></td>
                            </tr>
                            <tr>
                                <td class="title">Agoda Company Pte</td>
                                <td>186665658207</td>
                                <td>Omri Mogenstem</td>
                                <td><span class="state wait">대기중</span></td>
                                <td><span class="detail">상세보기</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- 회원가입 모달창 -->
        <div class="modal-bg hidden">
            <div class="modal">
                <div class="modal-head">
                    <p class="modal-txt">기업 상세정보</p>
                    <button class="btn-cls">X</button>
                </div>
                <form action="#" method="#">
                    <div class="modal-content">
                        <div class="modal-input-wrapper">
                            <label for="businessName">이메일</label>
                            <input disabled type="text" name="email" value="ssar@naver.com">
                        </div>
                        <div class="modal-input-wrapper">
                            <label for="businessName">등록 상호명</label>
                            <input disabled type="text" name="businessName" value="Agoda Company Pte">
                        </div>
                        <div class="modal-input-wrapper">
                            <label for="businessName">사업자 번호</label>
                            <input disabled type="text" name="businessNumber" value="16157-5432132">
                        </div>
                        <div class="modal-input-wrapper">
                            <label for="businessName">사업자 주소</label>
                            <input disabled type="text" name="businessAdress" value="부산광역시 수영구 ">
                        </div>
                        <div class="modal-input-wrapper">
                            <label for="businessName">대표이름</label>
                            <input disabled type="text" name="name" value="감자머리">
                        </div>
                        <div class="modal-input-wrapper">
                            <label for="businessName">전화번호</label>
                            <input disabled type="text" name="phone" value="01021549956">
                        </div>
                        <div class="modal-input-wrapper">
                            <label for="businessName">생성일자</label>
                            <input disabled type="text" name="createdAt" value="2024-03-03">
                        </div>
                        <div class="modal-button-wrapper">
                            <button class="approval btn-closer">승인</button>
                            <button class="refuse btn-closer">거절</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<script>
    // 모달창
    document.addEventListener('DOMContentLoaded', function () {
        const detailButtons = document.querySelectorAll('.detail');
        const closeBtn = document.querySelector('.btn-cls');
        const modal = document.querySelector('.modal-bg');
        const closerBtn1 = document.querySelector('.btn-closer.refuse');
        const closerBtn2= document.querySelector('.btn-closer.approval');

        detailButtons.forEach(function (button) {
            button.addEventListener('click', showModal);
        });

        closeBtn.addEventListener('click', closeModal);
        closerBtn1.addEventListener('click', closerAticon1);
        closerBtn2.addEventListener('click', closerAticon2);

        function showModal() {
            modal.classList.remove('hidden');
            modal.classList.add('visible');
        }

        function closeModal() {
            modal.classList.add('hidden');
            modal.classList.remove('visible');
        }

        function closerAticon1() {
            closeModal();
        }
        function closerAticon2() {
            closeModal();
        }
    });
</script>
</body>

</html>