{{> admin/layout/head}}
<body>
<main role="main">
    <section id="section n1">
        {{> admin/layout/side}}
        <div class="content-page">
            <div class="content-tab-bar">
                <ul class="tab-nav">
                    <li class="tab-link current"><a href="/company/join">가입현황</a></li>
                    <li class="tab-link "><a href="/company/report">리뷰신고</a></li>
                    <li class="tab-link"><a href="/company/question">문의사항</a></li>
                    <li class="tab-link"><a href="/company/faq">자주묻는 질문</a></li>
                </ul>
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>해당 회원의 예약 내역</p>
                    </div>
                    <div class="tab-item">
                        <form action="#" method="#" style="width: 100%;">
                            <ul class="search-box">
                                <li class="search-left">
                                    <span>총 예약 건수 :<em> {{reservationCount}}</em>건</span>
                                </li>
                                <li class="search-right">
                                    <div>
                                        <div class="tab-input-wrapper">
                                            <input class="input-id" type="text" name="keyword" placeholder="검색어 입력">
                                            <input class="submit-btn" type="submit" value="Search">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                        <table>
                            <colgroup>
                                <col width="25%">
                                <col width="20%">
                                <col width="20%">
                                <col width="20%">
                                <col width="15%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">숙소 이름</th>
                                <th scope="col">객실 이름</th>
                                <th scope="col">체크인 날짜</th>
                                <th scope="col">체크아웃 날짜</th>
                                <th scope="col">상세보기</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#reservationList}}
                                <!-- 각 예약에 대한 데이터를 모달에 넣기 위한 숨겨진 div -->
                                <div hidden="hidden" id="id-{{reservationId}}"
                                     data-stayname="{{stayName}}"
                                     data-stayaddress="{{stayAddress}}"
                                     data-checkindate="{{checkInDate}}"
                                     data-checkoutdate="{{checkOutDate}}"
                                     data-roomname="{{roomName}}"
                                     data-reservationname="{{reservationName}}"
                                     data-reservationtel="{{reservationTel}}"
                                     data-amount="{{amount}}"
                                     data-way="{{way}}"
                                     data-payat="{{payAt}}"></div>
                                <tr>
                                    <td class="title">{{stayName}}</td>
                                    <td>{{roomName}}</td>
                                    <td>{{checkInDate}}</td>
                                    <td>{{checkOutDate}}</td>
                                    <td><span class="detail" data-reservation-id="{{reservationId}}">상세보기</span></td>
                                </tr>
                            {{/reservationList}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- 회원가입 모달창 -->
        <div class="modal-bg hidden">
            <div class="modal">
                <div class="modal-head">
                    <p class="modal-txt">예약 상세보기</p>
                    <button class="btn-cls">X</button>
                </div>
                <form action="#" method="#">
                    <div class="modal-content">
                        <div class="modal-input-wrapper">
                            <label for="stayname">숙소 이름</label>
                            <input disabled type="text" name="stayname" value="">
                        </div>
                        <div class="modal-input-wrapper">
                            <label for="stayaddress">숙소 주소</label>
                            <input disabled type="text" name="stayaddress" value="">
                        </div>
                        <div class="modal-input-wrapper">
                            <label for="checkindate">체크인</label>
                            <input disabled type="text" name="checkindate" value="">
                        </div>
                        <div class="modal-input-wrapper">
                            <label for="checkoutdate">체크아웃</label>
                            <input disabled type="text" name="checkoutdate" value="">
                        </div>
                        <div class="modal-input-wrapper">
                            <label for="roomname">객실 이름</label>
                            <input disabled type="text" name="roomname" value="">
                        </div>
                        <div class="modal-input-wrapper">
                            <label for="reservationname">예약자 대표 이름</label>
                            <input disabled type="text" name="reservationname" value="">
                        </div>
                        <div class="modal-input-wrapper">
                            <label for="reservationtel">예약자 대표 연락처</label>
                            <input disabled type="text" name="reservationtel" value="">
                        </div>
                        <div class="modal-input-wrapper">
                            <label for="amountandway">결제 금액 (결제 수단)</label>
                            <input disabled type="text" name="amountandway" value="">
                        </div>
                        <div class="modal-input-wrapper">
                            <label for="payat">결제 일자</label>
                            <input disabled type="text" name="payat" value="">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<script>
    // 모달창
    document.addEventListener('DOMContentLoaded', function () {
        const detailButtons = document.querySelectorAll('.detail');
        const closeBtn = document.querySelector('.btn-cls');
        const modal = document.querySelector('.modal-bg');
        const closerBtn1 = document.querySelector('.btn-closer.refuse');
        const closerBtn2 = document.querySelector('.btn-closer.approval');

        detailButtons.forEach(function (button) {
            button.addEventListener('click', showModal);
        });

        closeBtn.addEventListener('click', closeModal);
        closerBtn1.addEventListener('click', closerAticon1);
        closerBtn2.addEventListener('click', closerAticon2);

        function showModal(event) {
            const reservationId = event.target.dataset.reservationId; // 클릭된 요소의 데이터 속성에서 예약 ID 가져오기
            const reservationData = document.querySelector(`#id-${reservationId}`).dataset; // 해당 예약의 데이터 가져오기
            const modalInputs = modal.querySelectorAll('.modal-input-wrapper input');

            // 모달에 데이터 채우기
            const amount = reservationData.amount;
            const way = reservationData.way;
            reservationData.amountandway = amount + " (" + way + ")";
            delete reservationData.amount;
            delete reservationData.way;

            modalInputs.forEach(function (input) {
                const attributeName = input.getAttribute('name');
                input.value = reservationData[attributeName];
            });

            modal.classList.remove('hidden');
            modal.classList.add('visible');
        }

        function closeModal() {
            modal.classList.add('hidden');
            modal.classList.remove('visible');
        }

        function closerAticon1() {
            closeModal();
        }

        function closerAticon2() {
            closeModal();
        }
    });
</script>
</body>

</html>