<aside class="side-bar">
    <div class="side-content header">
        <figure>
            <img src="/image/main_logo.jpg" alt="이미지 들어가는 공간">
        </figure>
        <span>여어떻노</span>
    </div>
    <div class="side-content info">
        <p>기업이름 : {{sessionCompany.name}}</p>
        <p>접속일시 : 2024.04.05</p>
        <p>승인상태 : {{sessionCompany.state}}</p>
        <a href="/login.html">로그아웃</a>
    </div>
    <div class="side-menu">
        <p class="head-menu active"><i class="fa-solid fa-building"></i>숙소관리</p>
        <ul class="sub">
            <li><a href="/index">숙소관리</a></li>
            <li><a href="/reservation/detail">예약현황</a></li>
            <li><a href="#">매출현황</a></li>
            <!-- 매출현황 아직 구현안됨-->
        </ul>
    </div>
    <div class="side-menu">
        <p class="head-menu"><i class="fa-solid fa-user"></i>내 정보 관리</p>
        <ul class="sub">
            <li><a href="/information/information">정보수정</a></li>
        </ul>
    </div>
</aside>

<script>
    $(function () {
        const currentURL = window.location.pathname; // 현재 페이지의 URL을 가져옵니다.
        const sidemenu = $(".side-menu .head-menu");
        const sidemenuURL = $(".side-menu .sub a");

        console.log(currentURL);

        // 페이지 로딩될 때 해당 페이지에 대응하는 사이드 메뉴를 활성화합니다.
        sidemenuURL.each(function () {
            const menuURL = $(this).attr('href');

            if (currentURL === menuURL) {
                $(this).closest('.side-menu').find('.head-menu').addClass('active');
                $(this).closest('.side-menu').find('.sub').addClass('active');
                $(this).parent().addClass('on');
            }
        });

        // 사이드 메뉴 클릭 시 동작하는 함수입니다.
        sidemenu.click(function () {
            sidemenu.removeClass('active');
            $(this).addClass('active');
            $(this).parent().siblings().find('.sub').removeClass('active');
            $(this).parent().find('.sub').toggleClass('active');
        });
    });
</script>