<aside class="side-bar">
    <div class="side-wrapper">
        <div class="side-content header">
            <figure>
                <img src="/images/main_logo.jpg" alt="이미지 들어가는 공간">
            </figure>
            <span>여어떻노</span>
        </div>
        {{#sessionUser}}
            <div class="side-content info">
                <p>기업이름 : {{businessName}}</p>
                <p>접속일시 : {{#sessionUser}}{{loginTime}}{{/sessionUser}}</p>
                <p>승인상태 : {{state}}</p>
                <a href="/logout">로그아웃</a>
            </div>
        {{/sessionUser}}
        <div class="side-menu">
            <p class="head-menu"><i class="fa-solid fa-building"></i>숙소관리</p>
            <ul class="sub">
                <li><a href="/manage/stays">숙소관리</a></li>
                <li><a href="/reservations/status">예약현황</a></li>
                <li><a href="/revenue">매출현황</a></li>
            </ul>
        </div>
        <div class="side-menu">
            <p class="head-menu"><i class="fa-solid fa-user"></i>내 정보 관리</p>
            <ul class="sub">
                <li><a href="/company/information">정보수정</a></li>
                <li><a href="/company/withdraw">회원탈퇴</a></li>
            </ul>
        </div>
    </div>
</aside>

<script>

</script>