{{> company/layout/head}}
<body>
<main role="main">
    <section id="section n1">
        <aside class="side-bar">
            <div class="side-wrapper">
                <div class="side-content header">
                    <figure>
                        <img src="/images/main_logo.jpg" alt="이미지 들어가는 공간">
                    </figure>
                    <span>여어떻노</span>
                </div>
                {{#sessionUser}}
                    <div class="side-content info">
                        <p>기업이름 : {{businessName}}</p>
                        <p>접속일시 : {{#sessionUser}}{{loginTime}}{{/sessionUser}}</p>
                        <p>승인상태 : {{state}}</p>
                        <a href="/logout">로그아웃</a>
                    </div>
                {{/sessionUser}}
                <div class="side-menu">
                    <p class="head-menu active"><i class="fa-solid fa-building"></i>숙소관리</p>
                    <ul class="sub active">
                        <li class="on"><a href="/manage/stays">숙소관리</a></li>
                        <li><a href="/reservations/status">예약현황</a></li>
                        <li><a href="/revenue">매출현황</a></li>
                    </ul>
                </div>
                <div class="side-menu">
                    <p class="head-menu"><i class="fa-solid fa-user"></i>내 정보 관리</p>
                    <ul class="sub">
                        <li><a href="/company/information">정보수정</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="content-page">
            <div class="content-tab-bar">
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>객실 상세보기</p>
                    </div>
                    <div class="tab-item company stay">
                        {{#stayList}}
                            <p class="tab-title">{{stayName}}({{stayCategory}}) - {{roomTier}}</p>
                        <div class="stay-detail">
                            <div class="content top">
                                <div class="img-wrapper">
                                    <img src="{{imagePath}}" alt="호텔 이미지">
                                </div>
                                <div class="text-wrapper">
                                    <p class="text-item">
                                        <span class="head"><i class="fa-solid fa-house"></i><em>숙소이름</em></span>
                                        <span class="body">{{stayName}}</span>
                                    </p>
                                    <p class="text-item">
                                                <span class="head"><i
                                                        class="fa-solid fa-location-dot"></i><em>숙소주소</em></span>
                                        <span class="body">{{stayAddress}}</span>
                                    </p>
                                    <p class="text-item">
                                                <span class="head"><i
                                                        class="fa-solid fa-layer-group"></i><em>숙소분류</em></span>
                                        <span class="body">{{stayCategory}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="content bottom">
                                <div class="room-head">
                                    <div class = "head-text-wrapper">
                                        <p class="sub-title">{{roomTier}} 객실 리스트</p>
                                        <p class="sub-info">{{#sessionUser}}{{today}}{{/sessionUser}} 기준</p>
                                    </div>
<!--                                    <form action="/room/register" method="get">-->
<!--                                        <button class="btn black">객실 추가하기</button>-->
<!--                                    </form>-->
                                </div>
                        {{/stayList}}
                                <ul>

                                    <!-- <li class="unknown">
                                        <div class="item">
                                            <span>등록된 객실이 없습니다.</span>
                                        </div>
                                    </li> -->
                                    {{#roomDetailList}}

                                    <li>
                                        <div class="room item">
                                            <div class="img-wrapper">
                                                <img src="{{roomImagePath}}" alt="객실 이미지">
                                            </div>
                                            <div class="text-wrapper">
                                                <p class="text-item">
                                                    <span class="head"><em>숙박호실</em></span>
                                                    <span class="body room-txt">{{roomNumber}}</span>
                                                </p>
                                                <p class="text-item">
                                                    <span class="head"><em>예약상태</em></span>
                                                    <span class="body room-txt">{{isReservation}}</span>
                                                </p>
                                                <p class="text-item">
                                                    <span class="head"><em>체크아웃</em></span>
                                                    <span class="body room-txt">{{checkOutDate}}</span>
                                                </p>
                                                <p class="text-item">
                                                    <span class="head"><em>결제상태</em></span>
                                                    <span class="body room-txt">{{#payState}}{{.}}{{/payState}}{{^payState}}{{/payState}}</span>
                                                </p>
                                            </div>
                                            {{#payState}}
                                                <form action="/reservations/{{reservationId}}/detail" method="get" style="width: 100%;">
                                                    <div class="room button-wrapper">
                                                        <button class="btn black">예약 상세내역</button>
                                                    </div>
                                                </form>
                                            {{/payState}}
                                            {{^payState}}
                                                <div class="room button-wrapper">
                                                    <button class="btn hide-button"></button>
                                                </div>
                                            {{/payState}}
                                        </div>
                                    </li>
                                    {{/roomDetailList}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>

</script>
</body>

</html>