{{> company/layout/head}}
<body>
<main role="main">
    <section id="section n1">
        {{> company/layout/side}}
        <div class="content-page">
            <div class="content-tab-bar">
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>객실 상세보기</p>
                    </div>
                    <div class="tab-item company stay">
                        {{#stayList}}
                            <p class="tab-title">{{stayName}}({{stayCategory}}) - (티어넣자 지민아)</p>
                        <div class="stay-detail">
                            <div class="content top">
                                <div class="img-wrapper">
                                    <img src="{{imagePath}}" alt="호텔 이미지">
                                </div>
                                <div class="text-wrapper">
                                    <p class="text-item">
                                        <span class="head"><i class="fa-solid fa-house"></i><em>숙소이름</em></span>
                                        <span class="body">{{stayName}}</span>
                                    </p>
                                    <p class="text-item">
                                                <span class="head"><i
                                                        class="fa-solid fa-location-dot"></i><em>숙소주소</em></span>
                                        <span class="body">{{stayAddress}}</span>
                                    </p>
                                    <p class="text-item">
                                                <span class="head"><i
                                                        class="fa-solid fa-layer-group"></i><em>숙소분류</em></span>
                                        <span class="body">{{stayCategory}}</span>
                                    </p>
                                </div>
                            </div>
                        {{/stayList}}
                            <div class="content bottom">
                                <div class="room-head">
                                    <div class = "head-text-wrapper">
                                        <p class="sub-title">(티어넣자 지민아) 객실 리스트</p>
                                        <p class="sub-info">2024-05-01 기준</p>
                                    </div>
                                    <form action="/room/register" method="get">
                                        <button class="btn black">객실 추가하기</button>
                                    </form>
                                </div>
                                <ul>
                                    <!-- <li class="unknown">
                                        <div class="item">
                                            <span>등록된 객실이 없습니다.</span>
                                        </div>
                                    </li> -->
                                    <li>
                                        {{#roomDetailList}}
                                        <div class="item">
                                            <div class="img-wrapper">
                                                <img src="{{roomImagePath}}" alt="객실 이미지">
                                            </div>
                                            <div class="text-wrapper">
                                                <p class="text-item">
                                                    <span class="head"><em>숙박호실</em></span>
                                                    <span class="body room-txt">{{roomNumber}}</span>
                                                </p>
                                                <p class="text-item">
                                                    <span class="head"><em>예약상태</em></span>
                                                    <span class="body room-txt">{{isReservation}}</span>
                                                </p>
                                                <p class="text-item">
                                                    <span class="head"><em>체크아웃</em></span>
                                                    <span class="body room-txt">{{checkOutDate}}</span>
                                                </p>
                                                <p class="text-item">
                                                    <span class="head"><em>결제상태</em></span>
                                                    <span class="body room-txt">{{payState}}</span>
                                                </p>
                                            </div>
                                            <form action="/reservation/detail" method="get" style="width: 100%;">
                                                <div class="button-wrapper">
                                                    <button class="btn black">예약 상세내역</button>
                                                </div>
                                            </form>
                                        </div>
                                        {{/roomDetailList}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>

</script>
</body>

</html>