{{> company/layout/head}}

<body>
<main role="main">
    <section id="section n1">
        <aside class="side-bar">
            <div class="side-wrapper">
                <div class="side-content header">
                    <figure>
                        <img src="/images/main_logo.jpg" alt="이미지 들어가는 공간">
                    </figure>
                    <span>여어떻노</span>
                </div>
                {{#sessionUser}}
                    <div class="side-content info">
                        <p>기업이름 : {{businessName}}</p>
                        <p>접속일시 : {{#sessionUser}}{{loginTime}}{{/sessionUser}}</p>
                        <p>승인상태 : {{state}}</p>
                        <a href="/logout">로그아웃</a>
                    </div>
                {{/sessionUser}}
                <div class="side-menu">
                    <p class="head-menu active"><i class="fa-solid fa-building"></i>숙소관리</p>
                    <ul class="sub active">
                        <li class="on"><a href="/manage/stays">숙소관리</a></li>
                        <li><a href="/reservations/status">예약현황</a></li>
                        <li><a href="/revenue">매출현황</a></li>
                    </ul>
                </div>
                <div class="side-menu">
                    <p class="head-menu"><i class="fa-solid fa-user"></i>내 정보 관리</p>
                    <ul class="sub">
                        <li><a href="/company/information">정보수정</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="content-page">
            <div class="content-tab-bar">
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>객실추가</p>
                    </div>
                    <div class="tab-item company info">
                        <p class="tab-title">객실추가</p>
                        <div class="room-tab_menu">
                            {{#stay}}
                            <div class="cont_area">
                                <div id="tab1" class="cont" style="display:block;">
                                    <form action="/room/register/{{stayId}}" method="post" enctype="multipart/form-data">
                                        <!-- TODO 나중에 image 실제로 넣어야함-->
                                        <input type="hidden" name="imagePath" value ="/images/room1.jpg">
                                        <input type="hidden" name="imageName" value="room1.jpg">
                                        <div class="file-box">
                                            <span>이미지등록</span>
                                            <ul class="image-preview only"></ul>
                                            <input type="file" id="file01" class="real-upload" accept="/images/*"
                                                   required multiple>
                                            <input class="upload-name" type="text" value="첨부파일" placeholder="첨부파일">
                                            <label for="file01">파일찾기</label>
                                            <em class="guide">이미지는 1개만 등록가능합니다<b>*</b></em>
                                        </div>
                                        <div class="join-form-item">
                                            <label for="room-number">호실</label>
                                            <div class="input-wrapper">
                                                <input type="text" id="room-number" placeholder="호실" name="roomNumber">
                                            </div>
                                        </div>
                                        <div class="join-form-item">
                                            <label for="room-number">객실이름</label>
                                            <div class="input-wrapper">
                                                <input type="text" placeholder="객실이름" name="name">
                                            </div>
                                        </div>
                                        <div class="join-form-item">
                                            <label for="loging-name">등급분류</label>
                                            <div class="input-wrapper">
                                                <select id="select" name="tier" class="margin-n">
                                                    <option value="" disabled selected>등급분류</option>
                                                    <option value="Standard">스탠다드</option>
                                                    <option value="Premium">프리미엄</option>
                                                    <option value="Deluxe">디럭스</option>
                                                    <option value="Family">패밀리</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="join-form-item">
                                            <label for="loging-name">최소인원</label>
                                            <div class="input-wrapper">
                                                <input type="text" id="room-min-person" name="minPerson" placeholder="최소인원">
                                            </div>
                                        </div>
                                        <div class="join-form-item">
                                            <label for="loging-name">최대인원</label>
                                            <div class="input-wrapper">
                                                <input type="text" id="room-max-person" name="maxPerson" placeholder="최대인원">
                                            </div>
                                        </div>
                                        <div class="join-form-item">
                                            <label for="loging-name">입실시간</label>
                                            <div class="input-wrapper">
                                                <input type="time" id="room-min-person" name="checkIn" placeholder="입실시간">
                                            </div>
                                        </div>
                                        <div class="join-form-item">
                                            <label for="loging-name">퇴실시간</label>
                                            <div class="input-wrapper">
                                                <input type="time" id="room-min-person" name="checkOut" placeholder="퇴실시간">
                                            </div>
                                        </div>
                                        <div class="join-form-item">
                                            <label for="loging-name">가격</label>
                                            <div class="input-wrapper">
                                                <input type="text" id="loging-name" name="price" placeholder="가격">
<!--                                                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/\d(?=(?:\d{3})+$)/g, '$&,')" 콤마설정 /-->
                                            </div>
                                        </div>
                                        <div class="join-form-item">
                                            <label for="loging-name">특가</label>
                                            <div class="input-wrapper">
                                                <input type="text" id="loging-name" name="specialPrice" placeholder="특가">
                                            </div>
                                        </div>
                                        <div class="join-form-item">
                                            <label for="loging-name">특가상태</label>
                                            <div class="input-wrapper">
                                                <select id="select" name="specialState" class="margin-n">
                                                    <option value="" disabled selected>특가분류</option>
                                                    <option value="APPLIED" id="on">활성화</option>
                                                    <option value="NOT_APPLIED" id="off">비활성화</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="button-wrapper">
                                            <button type="submit" class="btn black join">등록하기</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {{/stay}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
<script>

    // 이미지 다중 업로드
    function getImageFiles(e) {
        const files = e.currentTarget.files;
        const imagePreview = e.currentTarget.parentElement.querySelector('.image-preview');

        // 이미지 개수 검사
        if ([...files].length > 1) {
            console.log("이미지 개수가 최대 개수를 초과합니다");
            alert('이미지는 최대 1개 까지 업로드가 가능합니다.');
            return;
        }

        // 이미지 타입 및 미리보기 처리
        const file = files[0]; // 첫 번째 이미지만 처리
        if (!file.type.match("image/.*")) {
            alert('이미지 파일만 업로드가 가능합니다.');
            return;
        }

        const reader = new FileReader();
        reader.onload = (e) => {
            const preview = createElement(e.target.result, file.name);
            imagePreview.innerHTML = ''; // 기존 이미지 제거
            imagePreview.appendChild(preview);
        };
        reader.readAsDataURL(file);

        // 파일 이름을 업로드 필드에 표시하고 필드를 비활성화
        const uploadName = e.currentTarget.parentElement.querySelector('.upload-name');
        uploadName.value = file.name;
        uploadName.disabled = true;
    }

    document.querySelectorAll('.real-upload').forEach(input => {
        input.addEventListener('change', getImageFiles);
    });

    function createElement(src, fileName) {
        const li = document.createElement('li');
        const img = document.createElement('img');
        img.src = src;
        img.setAttribute('data-file', fileName);
        li.appendChild(img);

        return li;
    }

    // 탭메뉴
    const tabList = document.querySelectorAll('.room-tab_menu .list li');
    const contents = document.querySelectorAll('.room-tab_menu .cont_area .cont');
    let activeCont = ''; // 현재 활성화 된 컨텐츠 (기본:#tab1 활성화)

    for (var i = 0; i < tabList.length; i++) {
        tabList[i].querySelector('.btn').addEventListener('click', function (e) {
            e.preventDefault();
            for (var j = 0; j < tabList.length; j++) {
                // 나머지 버튼 클래스 제거
                tabList[j].classList.remove('is_on');

                // 나머지 컨텐츠 display:none 처리
                contents[j].style.display = 'none';
            }

            // 버튼 관련 이벤트
            this.parentNode.classList.add('is_on');

            // 버튼 클릭시 컨텐츠 전환
            activeCont = this.getAttribute('href');
            document.querySelector(activeCont).style.display = 'block';
        });
    }


</script>
</body>

</html>